= render "admin/shared/toolbar_button", text: tN(User), link: new_resource_url

%h1= t2(User)

%table.table.table-striped.table-condensed
  %thead
    = search_form_for [ :admin, @q ] do |f|
      %tr
        %th.pr_1 &nbsp;
        %th.nw.pr_1= f.text_field :email_cont, placeholder: tt(User, :email), class: "small", :"data-clearable-field" => true
        %th.nw= f.text_field :first_name_or_last_name_cont, placeholder: tt(User, :full_name), class: "small", :"data-clearable-field" => true

  %tbody
    = render @users

=# will_paginate(@users)