.fileupload.fileupload-new{"data-provides" => "fileupload"}
  .input-append
    .uneditable-input.span3
      = fa_icon("file", class: "fileupload-exists")
      %span.fileupload-preview
    %span.btn.btn-file
      %span.fileupload-new= t("file_upload.select_file")
      %span.fileupload-exists= t("file_upload.change")
      = f.input_field tag_name
    %a.btn.fileupload-exists{"data-dismiss" => "fileupload", href: "#"}= t("file_upload.remove")