- buttons ||= []

.pull-right
  = link_to text, link, class: 'btn btn-primary'
  - buttons.each do |text, link, icon|
    - icn = "#{icon(icon)} " if icon
    = link_to "#{icn}#{text}".html_safe, link, class: "btn"